<div class="item-cart col-md-12 ">
  <div class="row">
    <div class="item-img text-center col-md-6"><img ng-src="{{single.product.img}}"></div>
    <div class="col-md-6">
      <div class="item-brend">{{single.product.brend}}</div>
      <div class="item-name"><strong>{{single.product.cod}}, {{single.product.title}}</strong></div>
      <div class="item-price"><span>{{single.product.price}} грн.</span></div>
      <div class="add-to-cart">
        <strong>Заказать</strong>
      </div>
    </div>
  </div>
</div>
