<div class="item-cart col-md-3 col-xs-6" ng-repeat="product in products.item | filter:search | filter:getFilterPoducts | filter: getFilterPrice |filter:getFilterBrend">

  <div class="item-img text-center"><img ng-src="{{product.imgw}}"></div>
    <div class="item-brend">{{product.brend}}</div>
    <div class="item-name"><strong> {{product.title}}</strong></div>
    <div class="item-price"><span>{{product.price}} грн.</span></div>
    <div class="add-to-cart">
        <strong><a ng-href="#/products/{{product.id}}">Подробнее</a></strong>
    </div>
</div>
