<div class="row" id="third-line" >
  <category-menu></category-menu>

  <div class="container" >
    <div class="col-md-9 col-sm-9 col-xs-12" id="reklama">
      <div class="row" >
        <img src="images/reklama2.jpg" ng-show="categories.showAdvertasing === true">
        <breadcrumbs ng-show="categories.showAdvertasing === false"></breadcrumbs>
      </div>
      <div class="row item-list" ng-show="categories.showAdvertasing === false">
        <product-item></product-item>

      </div>
      <div  id="pagination" class="row" ng-show="categories.showAdvertasing === false">
        <pagination num-pages="pageCount" current-page="pageNo">
        </pagination>
      </div>
      <div class="row" id="category-list-img" ng-show="categories.showAdvertasing === true">
        <div class="item col-md-3 col-xs-6">
          <div class="border-category">
            <div class="item-img text-center"><img src="images/category1.png"></div>
            <div class="item-name"><strong>Паяльные станции</strong></div>
          </div>
        </div>
        <div class="item col-md-3 col-xs-6">
          <div class="border-category">
            <div class="item-img text-center"><img src="images/category2.png"></div>
            <div class="item-name"><strong>Пробники и тестеры</strong></div>
          </div>
        </div>
        <div class="item col-md-3 col-xs-6">
          <div class="border-category">
            <div class="item-img text-center"><img src="images/category3.png"></div>
            <div class="item-name"><strong>Ручной инструмент</strong></div>
          </div>
        </div>
        <div class="item col-md-3 col-xs-6">
          <div class="border-category">
            <div class="item-img text-center"><img src="images/category4.png"></div>
            <div class="item-name"><strong>Макетные платы и стеклотекстолит</strong></div>
          </div>
        </div>
      </div>

      <div class="row" id="category-list-img" ng-show="categories.showAdvertasing === true">
        <div class="item col-md-3 col-xs-6">
          <div class="border-category">
            <div class="item-img text-center"><img src="images/category9.png"></div>
            <div class="item-name"><strong>Измерители температуры и влажности</strong></div>
          </div>
        </div>
        <div class="item col-md-3 col-xs-6">
          <div class="border-category">
            <div class="item-img text-center"><img src="images/category6.png"></div>
            <div class="item-name"><strong>Автомобильная электроника</strong></div>
          </div>
        </div>
        <div class="item col-md-3 col-xs-6">
          <div class="border-category">
            <div class="item-img text-center"><img src="images/category7.png"></div>
            <div class="item-name"><strong>Электронные развивающие конструкторы</strong></div>
          </div>
        </div>
        <div class="item col-md-3 col-xs-6">
          <div class="border-category">
            <div class="item-img text-center"><img src="images/category8.png"></div>
            <div class="item-name"><strong>Газовые паяльники</strong></div>
          </div>
        </div>
      </div>

      <leaders-and-latest></leaders-and-latest>
      <!--<div class='row slider-wrapper'>
        <div class="slider-brend col-md-12 ">
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
        </div>
      </div>-->
    </div>
  </div>
</div>
