<div class="row" id="third-line">
  <category-menu></category-menu>
  <div class="container">
    <div class="col-md-9 col-sm-9 col-xs-12" id="reklama">
      <div class="row item-list">
        <product-single-item></product-single-item>
      </div>
      <div class="row" id="four-line">
        <h2 class="head-category  col-md-3">Лидеры продаж</h2>
      </div>

      <div class="row item-list">


        <div class="item-cart col-md-3 col-xs-6">
          <div class="item-img text-center"><img src="../images/item4.png"></div>
          <div class="item-brend">Mastech</div>
          <div class="item-name"><strong>MS8239C, Мультиметр цифровой</strong></div>
          <div class="item-price"><span>3233 грн.</span></div>
          <div class="add-to-cart">
            <strong>Подробнее</strong>
          </div>
        </div>
        <div class="item-cart col-md-3 col-xs-6">
          <div class="item-img text-center"><img src="../images/item4.png"></div>
          <div class="item-brend">Mastech</div>
          <div class="item-name"><strong>MS8239C, Мультиметр цифровой</strong></div>
          <div class="item-price"><span>3233 грн.</span></div>
          <div class="add-to-cart">
            <strong>Подробнее</strong>
          </div>
        </div>
        <div class="item-cart col-md-3 col-xs-6">
          <div class="item-img text-center"><img src="../images/item4.png"></div>
          <div class="item-brend">Mastech</div>
          <div class="item-name"><strong>MS8239C, Мультиметр цифровой</strong></div>
          <div class="item-price"><span>3233 грн.</span></div>
          <div class="add-to-cart">
            <strong>Подробнее</strong>
          </div>
        </div>
        <div class="item-cart col-md-3 col-xs-6">
          <div class="item-img text-center"><img src="../images/item4.png"></div>
          <div class="item-brend">Mastech</div>
          <div class="item-name"><strong>MS8239C, Мультиметр цифровой</strong></div>
          <div class="item-price"><span>3233 грн.</span></div>
          <div class="add-to-cart">
            <strong>Подробнее</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <h2 class="head-category  col-md-3 ">Новинки</h2>
      </div>

      <div class="row item-list">


        <div class="item-cart col-md-3 col-xs-6">
          <div class="item-img text-center"><img src="../images/item4.png"></div>
          <div class="item-brend">Mastech</div>
          <div class="item-name"><strong>MS8239C, Мультиметр цифровой</strong></div>
          <div class="item-price"><span>3233 грн.</span></div>
          <div class="add-to-cart">
            <strong>Подробнее</strong>
          </div>
        </div>
        <div class="item-cart col-md-3 col-xs-6">
          <div class="item-img text-center"><img src="../images/item4.png"></div>
          <div class="item-brend">Mastech</div>
          <div class="item-name"><strong>MS8239C, Мультиметр цифровой</strong></div>
          <div class="item-price"><span>3233 грн.</span></div>
          <div class="add-to-cart">
            <strong>Подробнее</strong>
          </div>
        </div>
        <div class="item-cart col-md-3 col-xs-6">
          <div class="item-img text-center"><img src="../images/item4.png"></div>
          <div class="item-brend">Mastech</div>
          <div class="item-name"><strong>MS8239C, Мультиметр цифровой</strong></div>
          <div class="item-price"><span>3233 грн.</span></div>
          <div class="add-to-cart">
            <strong>Подробнее</strong>
          </div>
        </div>
        <div class="item-cart col-md-3 col-xs-6">
          <div class="item-img text-center"><img src="../images/item4.png"></div>
          <div class="item-brend">Mastech</div>
          <div class="item-name"><strong>MS8239C, Мультиметр цифровой</strong></div>
          <div class="item-price"><span>3233 грн.</span></div>
          <div class="add-to-cart">
            <strong>Подробнее</strong>
          </div>
        </div>
      </div>
      <!--<div class='row slider-wrapper'>
        <div class="slider-brend col-md-12 ">
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
        </div>
      </div>-->
    </div>
  </div>
</div>
