<div class="row" id="third-line">
  <category-menu></category-menu>
  <div class="container">
    <div class="col-md-9 col-sm-9 col-xs-12" id="reklama">
      <div class="row">
        <breadcrumbs></breadcrumbs>
      </div>
      <div class="row item-list">
        <product-single-item></product-single-item>
      </div>
      <leaders-and-latest></leaders-and-latest>
      <!--<div class='row slider-wrapper'>
        <div class="slider-brend col-md-12 ">
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
          <div class="slide"><img src="images/logobrend.jpg"></div>
        </div>
      </div>-->
    </div>
  </div>
</div>
